/*
* @Author: Zihao Tao
* @Date:   2018-11-06 21:04:33
* @Last Modified by:   Zihao Tao
* @Last Modified time: 2018-12-28 11:18:19
*/
/* header */
@import url('https://fonts.googleapis.com/css?family=Thasadith');
.head-wrapper {
    background-color: #fff;
    width: 1118px;
    height: 200px;
    overflow: hidden;
}

.img-wrapper {
    display: flex;
    justify-content: center;
}

.title {
    padding: 10px;
}
.subtitle {
    text-align: left;
    padding: 10px;
    font-size: 13px;
}

img {
    margin-top: 40px;
    width: 115px;
    height: 106px;
}

.mail {
    position: relative;
    left: 1000px;
    bottom: 50px;
    font-size: 23px;
}

.mail:hover {
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .head-wrapper {
        width: 100%;
    }
}

