<div class="container w">
    <div class="story">
        <div class="left">
            <h2 class="top">WE ARE RE-WILDING THE FASHION INDUSTRY TO REVERSE ITS IMPACT ON OUR PLANET.</h2>
            
            <p class="middle">AS SEEN IN:</p>
            <img src="../../image/pic/vogue.png" alt="nyt" class="vogue">
            <img src="../../image/pic/nyt.png" alt="nyt" class="nyt">
            <img src="../../image/pic/ted.png" alt="nyt" class="ted">
            <img src="../../image/pic/disc.png" alt="nyt" class="disc">
            <button class="btn">OUR STORY</button>
            <p class="bottom">WE DO THIS BY ENGAGING THE INDUSTRY IN THE CONSERVATION OF WILDLIFE, HABITATS & REMOTE COMMUNITIES THAT STILL CO-EXIST WITH NATURE</p>
        </div>
        <div class="right">
            <img src="../../image/pic/Ava0937.jpg" alt="model" class="model">
        </div>
    </div>
    <div class="london">
        <div class="banner-con">
            <div class="loading"></div>
        </div>
        
        <div class="right">
            <img src="../../image/pic/london.png" alt="title" class="Title">
            <p class="week">LONDON FASHION WEEK DEBUTS FASHION FOR CONSERVATION'S CAMPAIGN TO SAVE THE RAINFOREST...<a href="" class="transfer">LEARN MORE</a></p>
            <img src="../../image/pic/ava.jpg" alt="model" class="model2">
        </div>
    </div>
</div>