<div class="w">
    <div class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <a class="link" href="./cart.html">
                    WHO WE ARE: FASHION FOR CONSERVATION FAMILY
                </a>
            </li>
            <li class="footer-item">
                <a class="link" href="./order-list.html">
                    PRESS
                </a>
            </li>
            <li class="footer-item">
                <a class="link" href="./user-center.html">
                    GLOBAL PARTNERS
                </a>
            </li>
        </ul>
    </div>
    <div class="icon">
            <a class="link" href="https://www.facebook.com/fashionforconservation/" target="_blank">
                <i class="fa fa-facebook-f"></i>
            </a>
            <a class="link" href="https://www.instagram.com/fashionforconservation/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
    </div>
</div>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>