<div class="w">
    <div class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link" href="./index.html">
                    HOME
                </a>
            </li>
            <li class="nav-item js-store">
                <a class="link">
                    + STORE
                </a>
            </li>
            <li class="nav-item js-about">
                <a class="link">
                    + ABOUT
                </a>
            </li>
            <li class="nav-item js-partner">
                <a class="link">
                    + PARTNERS
                </a>
            </li>
            <li class="nav-item js-media">
                <a class="link" href="./about.html">
                    + MEDIA
                </a>
            </li>
            <li class="nav-item js-campaigns">
                <a class="link" href="./about.html">
                    + CAMPAIGNS
                </a>
            </li>
        </ul>
    </div> 

    <div class="store all" style="display: none;">
        <div class="arrow-up"></div>
        <ul class="items">
            <li class="item">
                ALL ITEMS
            </li>
            <li class="item">
                SALE
            </li>
        </ul>
    </div>

    <div class="about all" style="display: none;">
        <div class="arrow-up"></div>
        <ul class="items">
            <li class="item">
                FASHION FOR CONSERVATION
            </li>
            <li class="item">
                DESIGNERS
            </li>
            <li class="item">
                ELLE L
            </li>
            <li class="item">
                WHITELY FUND FOR NATURE
            </li>
        </ul>
    </div>

    <div class="partner all" style="display: none;">
        <div class="arrow-up"></div>
        <ul class="items">
            <li class="item">
                <a href="./camano-island-coffee.html" class="link">CAMANO ISLAND COFFEE</a>
            </li>
        </ul>
    </div>

    <div class="media all" style="display: none;">
        <div class="arrow-up"></div>
        <ul class="items">
            <li class="item">
                BLOG
            </li>
            <li class="item">
                MAGAZINE
            </li>
            <li class="item">
                VIDEOS
            </li>
        </ul>
    </div>

    <div class="campaigns all" style="display: none;">
        <div class="arrow-up"></div>
        <ul class="items">
            <li class="item">
                LONDON HOPE GALA 2018
            </li>
            <li class="item">
                SEATTLE RAINFOREST GALA 2018
            </li>
            <li class="item">
                LONDON FASHION WEEK RAINFOREST RUNWAY
            </li>
            <li class="item">
                IBIZA SUMMER POP-UP
            </li>
            <li class="item">
                COCKTAILS FOR CONSERVATION
            </li>
            <li class="item">
                ELEPHANTASIA
            </li>
        </ul>
    </div>
</div>